<!doctype html>
<title>{% block title %}Sample Review{% endblock %} - Audio Soup</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!-- Bulma Version 0.9.0-->
<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
{# <link rel="stylesheet" type="text/css" href="../static/hero.css"> #}
<link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
<style>
  .columns:nth-child(2)
  {margin-top: -10rem;}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='hero.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<body>
{# <nav> #}
{#   <h1>Audio Soup</h1> #}
{#   <ul> #}
{#     {% if g.user %} #}
{#       <li><span>{{ g.user['username'] }}</span> #}
{#       {# <li><a href="{{ url_for('auth.logout') }}">Log Out</a> #}
{#     {% else %} #}
{#       <li><a href="{{ url_for('sample_review',file_name='boo') }}">Sample Review</a> #}
{#       {# <li><a href="{{ url_for('feature_select') }}">Feature Selection</a> #}
{#     {% endif %} #}
{#   </ul> #}
{# </nav> #}
{# <section class="content"> #}
{#   <header> #}
{#     {% block header %}{% endblock %} #}
{#   </header> #}
{#   {% for message in get_flashed_messages() %} #}
{#     <div class="flash">{{ message }}</div> #}
{#   {% endfor %} #}
{#   {% block content %}{% endblock %} #}
{# </section> #}
{% block hero %}
<section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Audio Soup
          </p>
          <p class="subtitle">
           {% block subtitle %}
           Sample Review
           {% endblock %}
           {# <li><a href="{{ url_for('sample_review',file_name='boo') }}">Sample Review</a> #}
           {# <li><a href="{{ url_for('templates.feature_select') }}">Feature Selection</a> #}
          </p>
        </div>
      </div>
    </section>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="margin-left:8%;">
{#     <a class="navbar-item" href="https://bulma.io"> #}
{# FILTER LABELS #}
{#     </a> #}

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
        Labels
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            All
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item checkbox">
            Down
          </a>
          <a class="navbar-item">
            Go
          </a>
          <a class="navbar-item">
            Left
          </a>
         <a class="navbar-item">
            No
          </a>
        <a class="navbar-item">
            Off
          </a>
        <a class="navbar-item">
            On
          </a>
        <a class="navbar-item">
            Right
          </a>
        <a class="navbar-item">
            Stop
          </a>
        <a class="navbar-item">
            Up
          </a>
        <a class="navbar-item">
            Yes
          </a>
        </div>
      </div>
    </div>
  </div>
<div class="navbar-end" style="margin-right: 2%;">
  {{ pagination.links }}
      {# <div class="navbar-item"> #}
      {#   <div class="buttons"> #}
      {#     <a class="button is-primary"> #}
      {#       <strong>Sign up</strong> #}
      {#     </a> #}
      {#     <a class="button is-light"> #}
      {#       Log in #}
      {#     </a> #}
      {#   </div> #}
      {# </div> #}
    </div>
</nav>
    {# <div class="box cta"> #}
    {#   <p class="has-text-centered"> #}
    {#     {# <span class="tag is-primary">New</span> Here we have modal cards. When you click on them they will open functional modal examples. #}
    {#     <aside class=""> #}
    {#       <p class="menu-label"> #}
    {#         Filter Labels #}
    {#       </p> #}
    {#       <ul class="menu-list"> #}
    {#         <li><a>Down</a></li> #}
    {#         <li><a>Go</a></li> #}
    {#         <li><a>Left</a></li> #}
    {#         <li><a>No</a></li> #}
    {#         <li><a>Off</a></li> #}
    {#         <li><a>On</a></li> #}
    {#         <li><a>Right</a></li> #}
    {#         <li><a>Stop</a></li> #}
    {#         <li><a>Up</a></li> #}
    {#         <li><a>Yes</a></li> #}
    {#       </ul> #}
    {#     </aside> #}
    {#  #}
      </p>
    </div>
{% endblock %}
{% block content %}
    <section class="container">
		  {% for row in grid %}
      <div class="columns features">
        {% for sample in row %}
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/static/wave.png" alt="audio waveform">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>{{sample.name|split_name}}</h4>
								<p>Label: {{sample.label_id}}<br>Sample Rate: {{sample.sample_rate}}<br>Text: Emotive Neutral</p>
                <span class="button is-link modal-button" data-target="modal-card2_{{sample.id}}">Review</span>
              </div>
            </div>
          </div>
				</div>
      <div id="modal-card2_{{sample.id}}" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/static/wave.png" alt="{{sample.id}}-waveform-img">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{sample.name|split_name}}</p>
                <audio
                  controls
                  src="static/dataset/{{sample.name}}"
                  Your browser does not support the
                  <code>audio</code> element.
                </audio><br>
                {# <p class="subtitle is-6">@jane_doe</p> #}
              <span class="button is-primary">Edit</span>
              <span class="button is-link"> <a href="{{ url_for('public.feature_select', ftype='{{sample.id}}') }}">View Features</a></span>
              {# <br><br> #}
              </div>
            </div>
              <p><b>Label:</b> {{sample.label_id}}<br><b>Sample Rate:</b> {{sample.sample_rate}}<br><b>Text:</b> {{sample.text}}</p>
              <b>Last Edited:</b> <time datetime="2018-02-02">12:45 AM - 20 May 2018</time>
              {# <form> #}
              {# <p><b>Label:</b> #}
              {# <div class="select"> #}
              {#   <select> #}
              {#     <option>Down</option> #}
              {#     <option>Up</option> #}
              {#     <option>Left</option> #}
              {#     <option>No</option> #}
              {#     <option>Off</option> #}
              {#     <option>On</option> #}
              {#     <option>Right</option> #}
              {#   </select> #}
              {# </div><br><b>Sample Rate:<input class="input" type="text" value="441000"></b> <br><b>Text:</b> Emotive Neutral<br> #}
              {# <b>Last Edited:</b> <time datetime="2018-02-02">12:45 AM - 20 May 2018</time></p> #}
              {# <div class="field is-grouped is-grouped-left"> #}
              {#   <p class="control"> #}
              {#     <a class="button is-primary"> #}
              {#       Submit #}
              {#     </a> #}
              {#   </p> #}
              {#   <p class="control"> #}
              {#     <a class="button is-light"> #}
              {#       Cancel #}
              {#     </a> #}
              {#   </p> #}
              {# </div> #}
              {# </form> #}
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
				{% endfor %}
			</div>
			{% endfor %}
    </section>
    <footer>
    </footer>
    {% endblock %}
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
    {# <script src="../js/wild.js"></script> #}
         <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>
</body>
</html>
