{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Feature Selection{% endblock %}</h1>
{% endblock %}
{% block subtitle %}
Feature Selection
{% endblock %}

{% block content %}
  {# <form method="post"> #}
  {#   <label for="username">Username</label> #}
  {#   <input name="username" id="username" required> #}
  {#   <label for="password">Password</label> #}
  {#   <input type="password" name="password" id="password" required> #}
  {#   <input type="submit" value="Register"> #}
  {# </form> #}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="margin-left:8%;">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
     <button class="button" style="margin-top:12%;"><a href="{{ url_for('public.grid_view') }}">Back</a></span>
        </div>
<div class="navbar-end" style="margin-right: 2%;">
</div>
</div>
</nav>

<section class="section">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-one-third">
              <article class="notification media has-background-white">
                <figure class="media-left">
                  <span class="icon">
                    <i class="has-text-warning fa fa-columns fa-lg"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Metadata</h1>
                    <p class="is-size-5 subtitle">
                      {# <p><b>Filename: </b>0a7cnohash_0.wav<br><b>Label:</b> Down<br><b>Sample Rate:</b> 44100<br><b>Text:</b> Emotive Neutral</p> #}
                      <p><b>Label:</b> {{sample.name|split_name_label|title}}<br><b>Sample Rate:</b> {{sample.sample_rate}}<br><b>Text:</b> {{sample.text}}</p>
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-info">
                    <i class="fa fa-file-audio"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Waveform</h1>
                    <p class="is-size-5 subtitle">
                      <figure class="image">
                        <img src="{{ waveform_image(sample.name) }}" alt="{{sample.id}}-waveform-img">
                      </figure>
                    <audio
                      controls
                      src="/static/dataset/{{sample.name}}"
                      Your browser does not support the
                      <code>audio</code> element.
                    </audio><br>
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-danger">
                    <i class="fa fa-lg fa-cubes"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Mel Spectrogram</h1>
                    <p class="is-size-5 subtitle">
                      <figure class="modal-button" data-target='modal-card2_melspec'>
                        <img src="{{features.melspec}}" alt="mel spectrogram">
                      </figure>
                    </p>
                    <label class="checkbox">
                      <input type="checkbox">
                      Select this feature
                    </label>
                  </div>
                </div>
              </article>
            </div>
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-grey">
                    <i class="fa fa-lg fa-cogs"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Feature Settings</h1>
                    <p class="is-size-5 subtitle">
                       <p>Select the type of features you are most interested in.</p>
                       <div class="buttons has-addons">
                          <button class="button is-success is-selected">Spectral</button>
                          <button class="button">Rhythmic</button>
                          <button class="button">Deltas</button>
                        </div>
                       <p>Export selected features as:</p>
                       <div class="buttons has-addons">
                          <button class="button is-success is-selected">JSON</button>
                          <button class="button">CSV</button>
                          <button class="button">Plain Text</button>
                        </div>

                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-primary">
                    <i class="fa fa-lg fa-superpowers"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Tonal Centroid / Chroma</h1>
                    <p class="is-size-5 subtitle">
                      <figure class="modal-button" data-target='modal-card2_tonnetz'>
                        <img src="{{features.tonnetz}}" alt="tonal centroid & chroma">
                        {# <img src="/static/chromavstonnetz.png" alt="tonal-centroid"> #}
                      </figure>
                    <label class="checkbox">
                      <input type="checkbox">
                      Select this feature
                    </label>
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-danger">
                    <i class="fa fa-lg fa-cube"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Power/Contrast</h1>
                    <p class="is-size-5 subtitle">
                      <figure class="modal-button" data-target='modal-card2_power'>
                        <img src="{{features.power}}" alt="power-contrast">
                      </figure>
                   <label class="checkbox">
                      <input type="checkbox">
                      Select this feature
                    </label>
                  </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    <!-- Image modal -->
    <div id="modal-image2" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-huge is-image">
        <!-- content -->
        <img src="/static/melspec.png" alt="image">
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card2_melspec" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{features.melspec}}" alt="mel spectrogram">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Mel Spectrogram</p>
                {# <audio #}
                {#   controls #}
                {#   src="static/dataset/{{sample.name}}" #}
                {#   Your browser does not support the #}
                {#   <code>audio</code> element. #}
                {# </audio><br> #}
                {# <p class="subtitle is-6">@jane_doe</p> #}
              {# <span id="modal-card2_{{sample.id}}-edit-btn" class="button is-primary" onclick="toggleMetadataForm(this, {{sample.id}})">Edit</span> #}
              {# <span class="button"> <a href="{{ url_for('public.feature_select', sample_id=sample.id) }}">View Features</a></span> #}
              {# <br><br> #}
              </div>
            </div>
              <p id="modal-card2_{{sample.id}}-metadata"><b>Label:</b> {{sample.name|split_name_label|title}}<br><b>Sample Rate:</b> {{sample.sample_rate}}<br><b>Text:</b> {{sample.text}}</p>
              {# <b>Last Edited:</b> <time datetime="2018-02-02">12:45 AM - 20 May 2018</time> #}
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
			</div>

<div id="modal-card2_tonnetz" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{features.tonnetz}}" alt="tonal centroid vs chroma">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Tonal Centroid (Tonnetz) / Chroma</p>
                {# <audio #}
                {#   controls #}
                {#   src="static/dataset/{{sample.name}}" #}
                {#   Your browser does not support the #}
                {#   <code>audio</code> element. #}
                {# </audio><br> #}
                {# <p class="subtitle is-6">@jane_doe</p> #}
              {# <span id="modal-card2_{{sample.id}}-edit-btn" class="button is-primary" onclick="toggleMetadataForm(this, {{sample.id}})">Edit</span> #}
              {# <span class="button"> <a href="{{ url_for('public.feature_select', sample_id=sample.id) }}">View Features</a></span> #}
              {# <br><br> #}
              </div>
            </div>
              <p id="modal-card2_{{sample.id}}-metadata">The tonal features (tonnetz) are computed using the harmonic component of the audio sample. The Chromagram shows where the sound lies within the 12 different pitches classes.</p>
              {# <b>Last Edited:</b> <time datetime="2018-02-02">12:45 AM - 20 May 2018</time> #}
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
			</div>


<div id="modal-card2_power" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{features.power}}" alt="tonal centroid vs chroma">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Power / Contrast</p>
                {# <audio #}
                {#   controls #}
                {#   src="static/dataset/{{sample.name}}" #}
                {#   Your browser does not support the #}
                {#   <code>audio</code> element. #}
                {# </audio><br> #}
                {# <p class="subtitle is-6">@jane_doe</p> #}
              {# <span id="modal-card2_{{sample.id}}-edit-btn" class="button is-primary" onclick="toggleMetadataForm(this, {{sample.id}})">Edit</span> #}
              {# <span class="button"> <a href="{{ url_for('public.feature_select', sample_id=sample.id) }}">View Features</a></span> #}
              {# <br><br> #}
              </div>
            </div>
              <p id="modal-card2_{{sample.id}}-metadata">Spectral Contrast: Each frame of a spectrogram S is divided into sub-bands. For each sub-band, the energy contrast is estimated by comparing the mean energy in the top quantile (peak energy) to that of the bottom quantile (valley energy). High contrast values generally correspond to clear, narrow-band signals, while low contrast values correspond to broad-band noise. <br><br>- Jiang, Dan-Ning, Lie Lu, Hong-Jiang Zhang, Jian-Hua Tao, and Lian-Hong Cai. “Music type classification by spectral contrast feature.” In Multimedia and Expo, 2002. ICME’02. Proceedings. 2002 IEEE International Conference on, vol. 1, pp. 113-116. IEEE, 2002.
</p>
              {# <b>Last Edited:</b> <time datetime="2018-02-02">12:45 AM - 20 May 2018</time> #}
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
			</div>

{% endblock %}
